html, body{
  margin: 0;
  overflow: hidden;
  height: 100%;
  
  background-color: black;
}

canvas{
  width: 100%;
  
  position: absolute;
  top: 0px;
  left: 0px; 
  
  z-index: 0;
}

#debug{
  color: white;
  
  font-size: 5px;
  
  position: absolute;
  top: 0px;
  left: 0px; 
  
  z-index: 1;
}